{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
  
    <title>Register page</title>
    
</head>
<body>
  <div class="form-container">
        <h1 style="color: darkorange; text-align: center;">Register Form</h1>
        <form id="register-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                {{ form.password2 }}
            </div>

            <div class="form-group d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0">
                    {{ form.is_student }}
                    <div class="control__indicator"></div>
                </label>
                <a href="{% url 'terms_and_conditions' %}" target="_blank">By signing up, you agree to our terms and conditions</a>
            </div>

            <span id="checkbox-error" class="text-error"></span> <!-- Error message for checkbox -->
            <span class="text-error">{{ form.errors }}</span>
            <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
        </form>
    </div>

<script src="{% static 'account/responsive.js' %}"></script>
<script>
    // Function to validate the form
    function validateForm() {
        var checkbox = document.getElementById('id_is_student');
        var checkboxError = document.getElementById('checkbox-error');

        if (!checkbox.checked) {
            checkboxError.textContent = "You must agree to the terms and conditions.";
            return false;
        }

        return true;
    }

    // Event listener for form submission
    document.getElementById('register-form').addEventListener('submit', function(event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });
</script>
</body>
</html>
