
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>User actions</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
        </nav>
    </header>
    <main>
        <h2>Hell dear user we are sorry to find you here😔😔😔😔 <br> But read the following carefully and your issue will be fixed ✨✨✨🎉🎉🎉</h2>
        <h1>You are here because of the following reason.</h1>
    </main>
<div class="container" style="border: 2px solid #ccc;">
    <ol>
        <li>
            <h2>This book is not available for borrowing.</h2> 
        </li>
        <li>
            <h2>You have already borrowed the maximum number of books. Maximum number of books u can borrow is 3.</h2>
        </li>
        <li>
            <h2>You are not authorized to borrow books. Register and you will get access to it.</h2>
        </li>
        <li>
            <h2>If the above are not your case, You are banned from borrowing books. Talk to your Admin</h2>
        </li>
    </ol>
</div>
      <p style="text-align: center; font-size: x-large;"><b><a href="{% url 'home' %}" style="color:darkorchid; " >Go back home</a> </b></p>
      {% comment %} <a href="{% url 'Profile/' %}">Got to your Profile</a> {% endcomment %}
</body>
</html>