{% extends 'register.html' %} 

<div class="d-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-0"><span class="caption">Admin</span>
        {{ form.is_admin }}
      <div class="control__indicator"></div>
    </label>
  </div>
  <div class="d-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-0"><span class="caption">super Admin</span>
        {{ form.is_super_admin }}
      <div class="control__indicator"></div>
    </label>
  </div>
  <div class="d-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-0"><span class="caption">student</span>
        {{ form.is_student}}
      <div class="control__indicator"></div>
    </label>
  </div>